#wpcontent {
    padding: 0;
}


.wrap {
    /*max-width: 500px;*/
    /*margin: auto;*/
    /*padding-top: 8%;*/
    margin: 0;
}

.wrap * {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
}

.mailhawk-header h1 {
    /*text-align: center;*/
}

.mailhawk-content-box p.description {
    margin-top: 4px;
}

.mailhawk-content-box {
    background: #FFF;
    padding: 20px 30px;
    border-radius: 5px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 10px 20px;
}

.mailhawk-content-box.third {
    width: calc(33.33% - 30px);
    display: inline-block;
    box-sizing: border-box;
}

.mailhawk-content-box.report {
    padding: 5px 20px 5px 20px;
}

.mailhawk-content-box.third {
    margin-right: 0;
}

.mailhawk-content-box.third:last-child {
    margin-right: 0;
}

#wpbody .mailhawk-content-box button {
    display: block;
    font-weight: bold;
    /*margin: auto;*/
}

#wpbody .big-button {
    position: relative;
    font-size: 16px;
    margin: 30px auto;
    padding: 8px 14px;
    height: auto;
}

#mailhawk-status {
    width: 100%;
    height: 100px;
}

#spf {
    width: 100%;
}

.mailhawk-content-box p {
    font-size: 14px;
}

.mailhawk-legal {
    padding: 10px;
    text-align: center;
}

.mailhawk-legal a {
    text-decoration: none;
}

#wpbody .big-button .dashicons {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 5px;
    width: auto;
    height: auto;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.big-button.spin .dashicons {
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mailhawk-table-wrap .email-sent,
.domains .yes {
    color: green;
}

.mailhawk-table-wrap .email-failed,
.domains .no {
    color: red;
}

.domains .wp-list-table th,
.domains .wp-list-table td {
    text-align: center;
    vertical-align: middle;
}

.domains .wp-list-table th:first-child,
.domains .wp-list-table td:first-child {
    width: 200px;
    vertical-align: middle;
    text-align: left;
}

.setup .email-option {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 300;
}

.setup .big-button {
    margin-left: 0 !important;
}

.setup h2 {
    margin-top: 40px;
}

.setup h3 {
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
    /*font-weight: 400;*/
}

.setup input.code {
    width: 100%;
    font-size: 16px;
}

.setup h2 .dashicons {
    margin-right: 5px;
}

a.button .dashicons {
    margin: 4px 5px 0 0;
}

.setup .button.delete {
    /*margin-top: 10px;*/
    color: #a00;
    border-color: #a00;
    background-color: rgba(255, 0, 0, 0.01);
}

.setup .button.delete:hover {
    color: #dc3232;
    border-color: #dc3232;
}

#mailhawk-menu {
    background: #FFFFFF;
    border-width: 1px 0;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 20px;
    padding-left: 20px;
}

#mailhawk-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

#mailhawk-menu li {
    float: left;
    margin: 0;
}

#mailhawk-menu li a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#mailhawk-menu li .dashicons {
    margin-right: 5px;
}

#mailhawk-menu li a:hover:not(.active) {
    background-color: #f9f9f9;
}

#mailhawk-menu li a.active {
    background-color: #f9f9f9;
}

#wpcontent .wrap .notice {
    margin-left: 20px;
    margin-right: 20px;
}

.mailhawk-table-wrap {
    margin: 20px;
}

.mailhawk-table-wrap .wp-list-table {
    border-radius: 5px;
}

.mailhawk-table-wrap #status {
    width: 100px;
}

.mailhawk-table-wrap #sent {
    width: 200px;
}

.mailhawk-log-left {
    width: 399px;
    position: absolute;
    top: 0;
    left: 0;
}

.mailhawk-log-left .mailhawk-content-box {
    height: 600px;
    margin-right: 0;
}

.mailhawk-log-right {
    padding-left: 400px;
}

.mailhawk-log-wrap {
    position: relative;
}

.mailhawk-log-wrap #content iframe {
    width: 100%;
}

#mailhawk-overlay {
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100050;
    display: none;
}

#mailhawk-modal {
    position: absolute;
    z-index: 100050;
    width: 700px;
    top: 50px;
    left: calc(50% - 350px);
}

.mailhawk-content-box,
.mailhawk-log-preview {
    position: relative;
}

.mailhawk-log-preview .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.mailhawk-log-preview .close:hover {
    color: #aa0000;
}

.mailhawk-log-preview .close .dashicons {
    font-size: 32px;
    width: 32px;
    height: 32px;
}

.mailhawk-log-preview iframe {
    width: 100%;
}

.mailhawk-log-preview #subject {
    font-size: 22px;
    margin-bottom: 22px;
}

.mailhawk-log-preview #headers textarea,
.mailhawk-log-preview #raw textarea {
    width: 100%;
}

.mailhawk-content-box.report h2{
    margin-bottom: 0;
}

.report .big-number{
    font-size: 40px;
    line-height: 1.3em;
    display: inline-block;
}

.report .comparison{
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
}

.report .comparison .percentage{
    font-weight: 600;
    font-size: 18px;
}

.report .comparison .percentage.red{
    color: #DA3328;
}

.report .comparison .percentage.green{
    color: #2ba123;
}

.report .comparison .vs{
    color: #8a8a8a;
}

.progress-bar-wrap{
    background: rgba(104,164,218,0.20);
    height: 30px;
    border-radius: 5px;
    width: 100%;
    border: 2px solid #68A4DA;
    margin: 10px 0;
}

.progress-bar-wrap .progress-bar{
    background: #68A4DA;
    height: 30px;
}

.mailhawk-log-preview .mailhawk-error{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
}

.mailhawk-content-box.danger{
    border-color: #eb9a9d;
    background-color: #f2dede;
}

.mailhawk-content-box.danger *{
    color: #572422;
}

.mailhawk-content-box.danger .button{
    border-color: #a94442;
}

.mailhawk-log-preview .mailhawk-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.mailhawk-error-details{
    font-family: monospace;
    margin-top: 10px;
}